# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
~*.lck
\#auto_saved_files#

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv
production/backups/PhaseLatch_2025-09-17_18-31-31.zip
production/backups/PhaseLatch_2025-09-17_18-32-18.zip
production/backups/PhaseLatch_2025-09-17_19-28-53.zip
production/backups/PhaseLatch_2025-09-17_19-36-48.zip
production/backups/PhaseLatch_2025-09-17_20-17-30.zip
production/backups/PhaseLatch_2025-09-19_06-47-47.zip
/production/backups
.DS_Store
